:root {
   --bg-color-1: white;
   --bg-color-2: #333333;
   --text-color-1: black;
   --text-color-2: white;
   --card-bg-color-1: white;
   --card-bg-color-2: #cccccc;
   --card-text-color: black;
   --form-bg-color: #cccccc;
   --form-text-color: black;
}

body {
   background-color: var(--bg-color-1);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.1em;
   color: var(--text-color-1);
}

.app-header {
   padding: 10px;
}

.app-content {
   padding: 10px;
   margin-bottom: 45px;
}

.app-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 10px;
   background-color: var(--bg-color-1);
   text-align: center;
}

.aap-footer a:link, a:visited, a:hover, a:active {
   color: var(--text-color-1);
}

.project-card {
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
   background-color: var(--card-bg-color-1);
   color: var(--card-text-color);
}

.project-card:hover {
   background-color: var(--card-bg-color-2);
   cursor: pointer;
}

.item-card {
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
   background-color: var(--card-bg-color-1);
   color: var(--card-text-color);
}

.item-card:hover {
   cursor: pointer;
   background-color: var(--card-bg-color-2);
}

.link-to-projects {
   padding: 5px;
   border-radius: 10px;
}

.link-to-projects:hover {
   background-color: var(--form-bg-color);
   cursor: pointer;
}

.item-info-expanded {
   height: 65px;
   overflow-y: hidden;
   transition: ease-in-out 0.3s;
   -moz-transition: ease-in-out 0.3s;
   -o-transition: ease-in-out 0.3s;
   -webkit-transition: ease-in-out 0.3s;
}

.item-info-collapsed {
   margin: 0;
   height: 0;
   overflow-y: hidden;
   transition: ease-in-out 0.3s;
   -moz-transition: ease-in-out 0.3s;
   -o-transition: ease-in-out 0.3s;
   -webkit-transition: ease-in-out 0.3s;
}

.stay-right {
   float: right;
}

.button {
   cursor: pointer;
   padding: 5px;
   border-radius: 10px;
   background-color: var(--bg-color-1);
   color: var(--text-color-1);
}

.button:hover {
   background-color: var(--form-bg-color);
}

.form {
   cursor: initial;
   box-sizing: border-box;
   width: 86%;
   position: fixed;
   left: 7%;
   top: 25%;
   border: 1px solid black;
   border-radius: 10px;
   background-color: var(--form-bg-color);
   color: var(--form-text-color);
   padding: 15px;
   box-shadow: 5px 5px 16px grey;
}

.form label {
   display: inline-block;
   width: 120px;
}

.options-menu {
   float: right;
}

.options-menu:hover .options-menu-items {
   display: block;
}

.options-menu-items {
   display: none;
   position: absolute;
   right: 15px;
   font-size: 0.8em;
   min-width: 200px;
   padding: 5px;
   background-color: #cccccc;
   box-shadow: 5px 5px 16px grey;
}

.options-menu-items span {
   display: block;
   cursor: pointer;
   padding: 5px;
   font-weight: normal;
}

.options-menu-items span:hover{
   background-color: #cccccc;
}

.confirmation-prompt {
   cursor: initial;
   width: 80%;
   position: fixed;
   left: 10%;
   top: 25%;
   border: 1px solid black;
   border-radius: 10px;
   background-color: var(--bg-color-1);
   padding: 15px;
   box-shadow: 5px 5px 16px #333333;
   color: var(--text-color-1);
}

.sort-select {
   font-size: 0.6em;
}

.settings-button {
   cursor: pointer;
   float: right;
   padding: 5px;
   border-radius: 10px;
}

.settings-button:hover {
   background-color: var(--form-bg-color);
}

.settings-menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 425px;
   height: 100%;
   padding: 25px;
   border-left: 2px solid white;
   background-color: var(--bg-color-2);
   font-size: 0.75em;
   color: var(--text-color-2);
   transition: ease-in-out 0.3s;
   -moz-transition: ease-in-out 0.3s;
   -o-transition: ease-in-out 0.3s;
   -webkit-transition: ease-in-out 0.3s;
}

.settings-menu label {
   display: inline-block;
   width: 64.5%;
   font-weight: normal;
   font-size: 0.8em;
}

.settings-menu select {
   font-size: 0.6em;
}

.settings-menu input[type="checkbox"] {
   width: 30px;
   height: 30px;
}

.settings-menu button {
   font-size: 0.6em;
}

.back-pane {
   cursor: initial;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}