body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-header {
   padding: 10px;
}

.app-content {
   padding: 10px;
}

.app-footer {
   padding: 5px;
   text-align: center;
}

.project-card {
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
}

.project-card:hover {
   background-color: #cccccc;
   cursor: pointer;
}

.item-card {
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px;
}

.item-card:hover {
   background-color: #cccccc;
   cursor: pointer;
}

.link-to-projects {
   border-radius: 10px;
}

.link-to-projects:hover {
   background-color: #cccccc;
   cursor: pointer;
}